##### Importing required Packages

In [1]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_curve, auc, confusion_matrix, classification_report, accuracy_score
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')


from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

import xgboost as xgb # pip install xgboost
from xgboost import XGBClassifier

from sklearn.svm import SVC
%matplotlib inline

plt.style.use('fast')
sns.set_style('whitegrid')

##### Reading Dataset

In [2]:
data = pd.read_csv('Data.csv')

##### Data Preprocess

In [3]:
data.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1

In [4]:
data.isnull().sum()

WTT             0
PTI             0
EQW             0
SBI             0
LQE             0
QWG             0
FDJ             0
PJF             0
HQE             0
NXJ             0
TARGET CLASS    0
dtype: int64

##### One Hot Encoding

In [8]:
# data_dummies=pd.get_dummies(data)

##### Label Encoding

In [21]:
# le = LabelEncoder()

In [22]:
# categorical_cols = data1.columns[np.where(data1.dtypes == 'object')]
# for i in categorical_cols:
#     data1[i] = le.fit_transform(data1[i])

In [ ]:
# Do min max and standard scalar

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [6]:
sc = StandardScaler()
min_max = MinMaxScaler()

In [59]:
data_min_max = data.copy()
#data_std = data.copy()

In [60]:
y_min_max = data_min_max.pop('TARGET CLASS')

In [61]:
data_min_max

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167
...,...,...,...,...,...,...,...,...,...,...
995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517
996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489
997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504
998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063
999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837

In [62]:
data_min_max = min_max.fit_transform(data_min_max)
#data_std[col] = sc.fit_transform(data_std[col])

In [66]:
data_min_max = pd.DataFrame(data_min_max, columns = ['WTT','PTI','EQW','SBI','LQE','QWG','FDJ','PJF','HQE','NXJ'])`b

In [67]:
data_min_max.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,0.477912,0.517593,0.255846,0.446856,0.348797,0.064235,0.327526,0.231719,0.338214,0.471767
1,0.298068,0.403864,0.234836,0.490999,0.456119,0.274872,0.268036,0.480550,0.168622,0.680091
2,0.353470,0.545904,0.483996,0.509837,0.907533,0.326371,0.938657,0.575397,0.389811,0.514970
3,0.684900,0.678940,0.310686,0.490986,0.619742,0.436264,0.785889,0.727165,0.761269,0.409326
4,0.714167,0.365101,0.294082,0.392456,0.687196,0.314229,0.578492,0.233666,0.722546,0.621463

In [68]:
data_min_max = pd.concat([data_min_max,y_min_max],axis=1)

In [69]:
data_min_max.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.477912,0.517593,0.255846,0.446856,0.348797,0.064235,0.327526,0.231719,0.338214,0.471767,1
1,0.298068,0.403864,0.234836,0.490999,0.456119,0.274872,0.268036,0.480550,0.168622,0.680091,0
2,0.353470,0.545904,0.483996,0.509837,0.907533,0.326371,0.938657,0.575397,0.389811,0.514970,0
3,0.684900,0.678940,0.310686,0.490986,0.619742,0.436264,0.785889,0.727165,0.761269,0.409326,1
4,0.714167,0.365101,0.294082,0.392456,0.687196,0.314229,0.578492,0.233666,0.722546,0.621463,1

In [38]:
#data_std = data.copy()

In [39]:
#y_std = data_std.pop('TARGET CLASS')

In [41]:
#data_std

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167
...,...,...,...,...,...,...,...,...,...,...
995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517
996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489
997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504
998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063
999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837

In [48]:
#data_std = sc.fit_transform(data_std)

In [47]:
# for col in data_std:
#     data_std[col] = sc.fit_transform(data_std[col])

##### Model building

In [71]:
# Define your model
svm_classifier = SVC(C=1.0, kernel='rbf', gamma='scale', probability=True, random_state=0)

In [72]:
models = []
# models.append(('Logistic Regression', LogisticRegression(random_state=0)))
# models.append(("Naive Bayes",GaussianNB()))
# models.append(("Random Forest",RandomForestClassifier(random_state=0)))
# models.append(('Ada Boost', AdaBoostClassifier(random_state=0,base_estimator=RandomForestClassifier(random_state=0,n_estimators=50))))
# models.append(("xgboost",XGBClassifier(random_state=0)))
models.append(("SVM",svm_classifier))

In [73]:
models

[('SVM', SVC(probability=True, random_state=0))]

##### Evaluation Metris function

In [74]:
def eval_metrics(target,prob,threshold):
        """ target =y_yest,prob=logistic.predict(X_test),Threshold =Cutoff Threshold """
        data=pd.DataFrame()
        data['pred_proba'] = pd.Series(prob)
        data['pred'] = data['pred_proba'].map(lambda x: 1.0 if x > threshold else 0.0)
        accuracy=metrics.accuracy_score(target,data['pred'])
        precision= metrics.precision_score(target,data['pred'])
        recall= metrics.recall_score(target,data['pred'])
        f1_score = metrics.f1_score(target,data['pred'])
        roc_auc = metrics.roc_auc_score(target,data['pred'])
        return(accuracy,precision,recall,f1_score,roc_auc)

##### Feature Importance Function

In [75]:
def feature_importance_plot(features,importance,nameofmodel):
    print("Fature importance of" ,nameofmodel)
    sorted_index=np.argsort(importance)
    plt.figure(figsize=(15,5))
    sns.barplot(x = features[sorted_index], y = importance[sorted_index],)
    plt.show()

##### Hyper Parameter Tuning function(Grisearch CV)

In [84]:
    pram_grid = {
        
#             'Logistic Regression': {'penalty': ('l1', 'l2')},
        
#             'Random Forest': {'n_estimators' : [20,50,100],
#             'criterion': ['gini', 'entropy'],
#             'max_features':[4,5,6]}
        
         'SVM': {'kernel': ['rbf'],
                'gamma':[0.1,0.2,0.3,0.4,0.5]
                  
                }
               
  
            }

* Note: Param grid in hyperparameter tuning  should follow the same order of model List

In [76]:
def Hyper_parameter_tuning(name,model,X_train,y_train):
    grid_results = GridSearchCV(model, pram_grid[name],scoring='f1', cv = 3)
    grid_results.fit(X_train, y_train)
    print("Best Score",grid_results.best_score_)
    print("Best parameters",grid_results.best_params_)

##### Main Model Building Function

In [77]:
def Model_Building_Phase(dataset,target_column,models_list,th,gridsearch=False,cv_validation=False):# defining the fuction to AUtomate modle Building
     #Independent and Dependent Variabls
    X=dataset.drop([target_column],axis=1)
    Y=dataset[[target_column]]
    
    #Test and train split
    X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=1)
   
   
    # fitting Model
    col_names = ['Algorithm', 'Accuracy','Precison','Recall','f1-score','AUC-ROC']
    results_final = pd.DataFrame(columns=col_names)
    i = 0
    for name,model in models_list:
        print("model",name)
        
        model.fit(X_train, y_train)
        # predictions on testing data 
        pred_test = model.predict_proba(X_test)[:,1]
       
        #Evaluation Metrics for the model built
        accuracy,precision,recall,f1_score,roc_auc=eval_metrics(y_test,pred_test,th)
        results_final.loc[i]=[name,accuracy,precision,recall,f1_score,roc_auc]
        i += 1
        #Plotting Feature importance 
#         try:
#             feature_importance_plot(X_train.columns,model.feature_importances_,name)
#         except:
#             print(name +" has no Feature importance")
#             continue
    
        # Grid Search 
        if gridsearch:
            Hyper_parameter_tuning(name,model,X_train,y_train)
            
        
               
        #Applying k-Fold Cross Validation           
        if cv_validation:
            score_cv = cross_val_score(estimator = model, X = X_train, y = y_train, cv = 10,scoring='accuracy')
            print(" K fold Cross validation scores",score_cv)
            print("Mean of K fold cross validation ",score_cv.mean())
       
   
    return(results_final)

In [78]:
Model_Building_Phase(data_min_max, 'TARGET CLASS', models, th=0.5, gridsearch=False, cv_validation=False)

model SVM

  Algorithm  Accuracy  Precison    Recall  f1-score   AUC-ROC
0       SVM     0.945  0.938776  0.948454   0.94359  0.945101

In [85]:
Model_Building_Phase(data_min_max, 'TARGET CLASS', models, th=0.5, gridsearch=True, cv_validation=False)

model SVM
Best Score 0.9400429033698465
Best parameters {'gamma': 0.1, 'kernel': 'rbf'}

  Algorithm  Accuracy  Precison    Recall  f1-score   AUC-ROC
0       SVM     0.945  0.938776  0.948454   0.94359  0.945101

In [86]:
svm_classifier = SVC(C=1.0, kernel='rbf', gamma=0.1, probability=True, random_state=0)

In [87]:
Model_Building_Phase(data_min_max, 'TARGET CLASS', models, th=0.5, gridsearch=False, cv_validation=False)

model SVM

  Algorithm  Accuracy  Precison    Recall  f1-score   AUC-ROC
0       SVM     0.945  0.938776  0.948454   0.94359  0.945101